# ignored files & directories

*.xml
*.html
*.iml
.idea/*.xml
.idea/*.iml
.idea/*.html

.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

out/*